@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

$font-base: 'Plus Jakarta Sans', sans-serif;

$color-black: #000112;
$color-very-dark-grey: #20212c;
$color-dark-grey: #2b2c37;
$color-lines-dark: #3e3f4e;
$color-lines-medium: rgba(130, 143, 163, 0.25);
$color-medium-grey: #828fa3;
$color-lines-light: #e4ebfa;
$color-light-grey: #f4f7fd;
$color-white: #ffffff;
$color-main-purple: #635fc7;
$color-main-purple-hover: #a8a4ff;
$color-secondary-purple: rgba(99, 95, 199, 0.1);
$color-red: #ea5555;
$color-red-hover: #ff9898;
$color-cyan: #49c4e5;
$color-green: #67e2ae;

$breakpoint-tablet: 768px;
$breakpoint-large: 1400px;

:root {
    --color-black: #000112;
    --color-very-dark-grey: #20212c;
    --color-dark-grey: #2b2c37;
    --color-lines-dark: #3e3f4e;
    --color-lines-medium: rgba(130, 143, 163, 0.25);
    --color-medium-grey: #828fa3;
    --color-lines-light: #e4ebfa;
    --color-light-grey: #f4f7fd;
    --color-white: #ffffff;
    --color-main-purple: #635fc7;
    --color-main-purple-hover: #a8a4ff;
    --color-secondary-purple: rgba(99, 95, 199, 0.1);
    --color-red: #ea5555;
    --color-red-hover: #ff9898;
    --color-cyan: #49c4e5;
    --color-green: #67e2ae;
}