@use '../shared/variables' as v;
@use '../shared/mixins' as m;

.textarea-group {
    display: flex;
    flex-direction: column;

    label {
        &.visually-hidden {
            @include m.visually-hidden;
        }
    }

    textarea {
        @include m.input-standard;
        padding-block: 0.5rem;

        &.error {
            border-color: v.$color-red;
        }
    }

    strong {
        @include m.input-error;
        margin-block-start: 0.5rem;
    }

    small {
        @include m.input-hint;
    }
}
