.board-details {
  display: flex;
  gap: 1.25rem;
  padding-inline-start: 1.5rem;
  padding-block: 1.5rem;
}

.board-details .board-column h3 {
  text-transform: uppercase;
  margin-block-end: 1.5rem;
  padding-inline-start: 1.75rem;
  position: relative;
}

.board-details .board-column h3::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  border-radius: 50%;
}

.board-details .board-column:nth-child(3n + 1) h3::before {
  background-color: var(--color-cyan-accent);
}

.board-details .board-column:nth-child(3n + 2) h3::before {
  background-color: var(--color-main-purple);
}

.board-details .board-column:nth-child(3n + 3) h3::before {
  background-color: var(--color-green-accent);
}

.board-details .board-column,
.board-details .new-column {
  flex: 0 0 280px;
}

.board-details .new-column {
  margin-block-start: 2.35rem;
  background-color: var(--color-lines-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.board-details .new-column button {
  color: var(--color-medium-grey);
}

.board-details .new-column button:hover {
  color: var(--color-main-purple);
}

.column-tasks li {
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  margin-block-end: 1.25rem;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.1);
  position: relative;
}

.column-tasks li p {
  color: var(--color-medium-grey);
  margin-block-start: 0.5rem;
}

/* Theming
============================ */

[data-theme='light'] .board-details {
  background-color: var(--color-light-grey);
}

[data-theme='dark'] .board-details {
  background-color: var(--color-dark-grey);
}

[data-theme='dark'] .column-tasks li {
  background-color: var(--color-very-dark-grey);
}

[data-theme='light'] .column-tasks li {
  background-color: var(--color-white);
}

[data-theme='dark'] .column-tasks li .task-title {
  color: var(--color-white);
}

[data-theme='light'] .column-tasks li .task-title {
  color: var(--color-black);
}
