

.close-button:hover svg {
  fill: var(--color-red);
}

/* Add Task Button
============================ */

.plus-button {
  padding: 0.5rem 1.15rem;
  border-radius: 24px;
}

@media screen and (min-width: 767px) {
  .button.add-task-btn {
    padding: 0.875rem 1.5rem;
  }

  .add-task-btn svg {
    display: none;
  }

  .add-task-btn span {
    display: block;
  }
}

/* Theming
============================ */

[data-theme='dark'] .secondary {
  background-color: var(--color-white);
}

/* Sidebar Button Toggle
============================ */
button.toggle-sidebar {
  display: none;
}

@media screen and (min-width: 767px) {
  button.toggle-sidebar {
    position: absolute;
    border-radius: 0px 100px 100px 0px;
    height: 48px;
    display: flex;
    align-items: center;
    bottom: 32px;
  }

  button.toggle-sidebar.hide {
    padding-inline-start: 2rem;
    color: var(--color-medium-grey);
    min-width: 240px;
  }

  button.toggle-sidebar.hide:hover {
    color: var(--color-main-purple);
    background-color: var(--color-secondary-purple);
  }

  button.toggle-sidebar.hide svg {
    margin-inline-end: 0.8rem;
  }

  button.toggle-sidebar.hide:hover svg path {
    fill: var(--color-main-purple);
  }

  button.toggle-sidebar.show {
    padding-inline: 1.125rem;
    background-color: var(--color-main-purple);
  }

  button.toggle-sidebar.show:hover {
    background-color: var(--color-main-purple-hover);
  }
}

@media screen and (min-width: 1399px) {
  button.toggle-sidebar.hide {
    min-width: 280px;
  }
}
