/* Reach Dialog
============================ */

div[data-reach-dialog-overlay] {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 200ms both;
}

div[data-reach-dialog-content] {
  padding: 2rem 1.5rem;
  max-width: 90%;
  width: 480px;
  border-radius: 6px;
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
}

div[data-reach-alert-dialog-content] [data-reach-alert-dialog-label] {
  color: var(--color-red);
}

div[data-reach-alert-dialog-content] [data-reach-alert-dialog-description] {
  color: var(--color-medium-grey);
  margin-block: 1.5rem;
}

div[data-reach-alert-dialog-content] .alert-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}

div[data-reach-alert-dialog-content] .alert-buttons button {
  flex: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

@media screen and (min-width: 767px) {
  div[data-reach-dialog-content] {
    padding: 2em;
  }
}

/* Theming
============================ */

[data-theme='light'][data-reach-dialog-content] {
  background-color: var(--color-white);
}

[data-theme='dark'][data-reach-dialog-content] {
  background-color: var(--color-dark-grey);
}

[data-theme='light'] [id*='dialog-label'] {
  color: var(--color-black);
}

[data-theme='dark'] [id*='dialog-label'] {
  color: var(--color-white);
}
