/*** STYLES FOR CREATE/EDIT TASK/BOARD FORMS ***/

form,
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-block-start: 1.5rem;
}

form label {
  margin-block-end: 0.5rem;
}

form input[type='text'],
form textarea {
  border-radius: 4px;
  padding-block: 0.75rem;
  padding-inline: 0.9rem;
  border: 1px solid var(--color-lines-medium);
  background-color: transparent;
}

form textarea {
  padding-block: 0.5rem;
}

form input[type='text']:hover,
form textarea:hover {
  border: 1px solid var(--color-main-purple);
  cursor: pointer;
}

form input[type='text'].invalid,
form textarea.invalid {
  border-color: var(--color-red);
}

form input[type='text']::placeholder,
form textarea::placeholder {
  opacity: 0.25;
  line-height: 1.438rem; /* 23px */
}

.input-group,
.form-input-list li {
  position: relative;
}

.form-input-list li {
  display: flex;
  margin-block-end: 0.75rem;
}

.form-input-list li input[type='text'] {
  flex: 1;
}

.form-input-list li button {
  margin-left: 1rem;
}

form input ~ strong,
form textarea ~ strong {
  color: var(--color-red);
  position: absolute;
  font-weight: 500;
  font-size: 0.813rem; /* 13px */
}

form .input-group input[type='text'] ~ strong {
  top: 1.8rem;
  right: 1.35rem;
}

form textarea ~ strong {
  bottom: 0.5rem;
  right: 1.35rem;
}

.form-input-list li input[type='text'] ~ strong {
  top: 0.85rem;
  right: 3.25rem;
}

form button[type='submit'] {
  margin-block-start: 1.5rem;
}

/* Task Status Dropdown Menu
============================ */

#dropdown-container {
  position: relative;
}

button[id^='dropdown-task-status'] {
  font-size: 0.813rem; /* 13px */
  font-weight: 500;
  text-align: left;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-inline: 1rem;
  margin-block-start: 0.5rem;
  position: relative;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-lines-medium);
}

button[id^='dropdown-task-status'][aria-expanded='true'] {
  border-color: var(--color-main-purple);
}

button[id^='dropdown-task-status']::after {
  content: url('../assets/icon-chevron-down.svg');
  position: absolute;
  right: 1rem;
  transition: transform 0.1s;
}

button[id^='dropdown-task-status'][aria-expanded='true']::after {
  transform: rotate(-180deg);
  top: 0.75rem;
}

button[id^='dropdown-task-status']:disabled {
  color: var(--color-medium-grey);
}

button[id^='dropdown-task-status']:hover:not(:disable) {
  border-color: var(--color-main-purple);
}

#dropdown-task-status-label {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem; /* 12px */
  line-height: 0.938rem; /* 15px */
  display: block;
  color: var(--color-medium-grey);
}

#dropdown-task-status-menu {
  position: absolute;
  top: 4.5rem;
  width: 100%;
  background-color: var(--color-white);
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
  border-radius: 8px;
}

#dropdown-task-status-menu li {
  font-weight: 500;
  font-size: 0.813rem; /* 13px */
  line-height: 1.438rem; /* 23px */
  color: var(--color-medium-grey);
  margin: 1rem;
}

#dropdown-task-status-menu li:hover {
  cursor: pointer;
}

/* Theming
============================ */

[data-theme='light'] .input-group label {
  color: var(--color-medium-grey);
}

[data-theme='dark'] form label {
  color: var(--color-white);
}

[data-theme='light'] form input[type='text']::placeholder,
[data-theme='light'] form textarea::placeholder {
  color: var(--color-black);
}

[data-theme='dark'] form input[type='text'],
[data-theme='dark'] form input[type='text']::placeholder,
[data-theme='dark'] form textarea::placeholder {
  color: var(--color-white);
}
