/*** STYLES FOR CREATE/EDIT TASK/BOARD FORMS ***/

form,
.input-group {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-block-start: 1.5rem;
}

form label {
  margin-block-end: 0.5rem;
}

form input[type='text'],
form textarea {
  border-radius: 4px;
  padding-block: 0.75rem;
  padding-inline: 0.9rem;
  border: 1px solid var(--color-lines-medium);
  background-color: transparent;
}

form textarea {
  padding-block: 0.5rem;
}

form input[type='text']:hover,
form textarea:hover {
  border: 1px solid var(--color-main-purple);
  cursor: pointer;
}

form input[type='text'].invalid,
form textarea.invalid {
  border-color: var(--color-red);
}

form input[type='text']::placeholder,
form textarea::placeholder {
  opacity: 0.25;
  line-height: 1.438rem; /* 23px */
}

.input-group,
.form-input-list li {
  position: relative;
}

.form-input-list li {
  display: flex;
  margin-block-end: 0.75rem;
}

.form-input-list li input[type='text'] {
  flex: 1;
}

.form-input-list li button {
  margin-left: 1rem;
}

form input ~ strong {
  color: var(--color-red);
  position: absolute;
  font-weight: 500;
  font-size: 0.75rem; /* 12px */
}

form .input-group input[type='text'] ~ strong {
  top: 2.25rem;
  right: 1rem;
}

.form-input-list li input[type='text'] ~ strong {
  top: 0.8rem;
  right: 3rem;
}

form button[type='submit'] {
  margin-block-start: 1.5rem;
}

/* Theming
  ============================ */

[data-theme='light'] .input-group label {
    color: var(--color-medium-grey);
}

[data-theme='dark'] form label {
    color: var(--color-white);
}

[data-theme='light'] form input[type='text']::placeholder,
[data-theme='light'] form textarea::placeholder {
    color: var(--color-black);
}

[data-theme='dark'] form input[type='text'],
[data-theme='dark'] form input[type='text']::placeholder,
[data-theme='dark'] form textarea,
[data-theme='dark'] form textarea::placeholder {
    color: var(--color-white);
}