@import url('./board.css');
@import url('./dialog.css');
@import url('./forms.css');
@import url('./layout.css');
@import url('./nav-menu.css');
@import url('./view-task.css');
@import '@reach/dialog/styles.css';
@import '@reach/menu-button/styles.css';

/*** GLOBAL STYLES ***/

/* Variables
  ============================= */

:root {
  --color-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-lines-medium: rgba(130, 143, 163, 0.25);
  --color-medium-grey: #828fa3;
  --color-lines-light: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --color-white: #ffffff;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-secondary-purple: rgba(99, 95, 199, 0.1);
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
  --color-cyan: #49c4e5;
  --color-green: #67e2ae;

  --header-height-sm: 64px;
  --header-height-md: 81px;
  --header-height-lg: 97px;
  --header-width-md: 261px;
  --header-width-lg: 300px;
}

/* Base
============================ */

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  transition: background-color 0.5s;
}

button:disabled {
  cursor: not-allowed;
}

li {
  list-style: none;
}



.stretched-link::after {
  position: absolute;
  inset: 0;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

/* Misc
============================ */

.kanban-logotype figcaption {
  visibility: hidden;
  height: 0;
  width: 0;
}

@media screen and (min-width: 767px) {
  [data-theme='dark'] .kanban-logotype g > path {
    fill: var(--color-white);
  }
}

/* Theming
============================ */

[data-theme] * {
  transition: background-color 0.2s ease, color 0.2s ease, fill 0.3s ease,
    border-color 0.3s ease;
}

.temp {
  margin-left: auto;
  margin-right: 2rem;
}

.temp a,
.temp button {
  color: var(--color-main-purple);
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  height: 30px;
  margin-left: 1rem;
}

.temp.task {
  margin-left: 0;
  margin-right: 0;
}

.temp.task a {
  margin: 0;
}

.board-details {
  --scrollbar-foreground: var(--color-medium-grey);
  --scrollbar-background: var(--color-secondary-purple);
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.board-details::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.board-details::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--scrollbar-foreground);
  border-radius: 10px;
}

.board-details::-webkit-scrollbar-track {
  /* Background */
  background: var(--scrollbar-background);
}

.board-details::-webkit-scrollbar-corner {
  background: var(--scrollbar-background);
}
