@import './forms.scss';

.view-task-desc {
    margin-block-start: 1rem;
    color: var(--color-medium-grey);
}

.temp.task {
    margin-block-start: 0.25rem;
}

.temp.task a,
.temp.task button {
    color: var(--color-main-purple);
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.temp.task button {
    margin-left: 0.75rem;
}

.temp a.disabled {
    opacity: 0.6;
    pointer-events: none;
}
