/* Layout
============================ */

.dashboard-header.mobile {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height-sm);
  padding: 1rem;
  position: relative;
}

.dashboard-header.mobile .create-task {
  margin-left: auto;
}

.board-toolbar .add-task-btn {
  margin-left: auto;
  margin-right: 1rem;
}

.dashboard-header {
  display: none;
}

.dashboard-sidebar {
  display: none;
}

@media screen and (min-width: 767px) {
  .dashboard-header.mobile {
    display: none;
  }

  .dashboard-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .dashboard-header {
    order: 1;
    display: flex;
    align-items: center;
    width: var(--header-width-md);
    height: var(--header-height-md);
    padding-inline-start: 2rem;
    border-bottom: 1px solid transparent;
  }

  .nav-container {
    min-width: max-content;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
  }

  .dashboard-sidebar {
    display: block;
    order: 3;
    height: calc(100% - var(--header-height-md));
    border-right: 1px solid var(--color-lines-light);
    overflow: hidden;
  }

  [data-open-sidebar='true'] .dashboard-sidebar {
    width: var(--header-width-md);
    transition: width 0.2s ease;
  }

  [data-open-sidebar='false'] .dashboard-sidebar {
    width: 0px;
    transition: width 0.2s ease;
  }

  .board-toolbar {
    order: 2;
    flex: 1 0 calc(100% - var(--header-width-md));
    height: var(--header-height-md);
    display: flex;
    align-items: center;
    padding-inline-start: 1.5rem;
    border-left: 1px solid var(--color-lines-light);
    border-bottom: 1px solid var(--color-lines-light);
  }

  .dashboard-sidebar .toggle-container {
    margin-top: auto;
  }

  .board-details {
    order: 4;
    flex: 1 0 calc(100% - var(--header-width-md));
    height: calc(100% - var(--header-height-md));
    overflow: scroll;
  }
}

@media screen and (min-width: 1399px) {
  .dashboard-header {
    width: var(--header-width-lg);
    height: var(--header-height-lg);
  }

  .dashboard-sidebar {
    height: calc(100% - var(--header-height-lg));
  }

  [data-open-sidebar='true'] .dashboard-sidebar {
    width: var(--header-width-lg);
  }

  .board-toolbar {
    flex: 1 0 calc(100% - var(--header-width-lg));
    height: var(--header-height-lg);
  }

  .board-details {
    flex: 1 0 calc(100% - var(--header-width-lg));
    height: calc(100% - var(--header-height-lg));
  }
}

/* Theming
============================ */

[data-theme='light'] .dashboard-header,
[data-theme='light'] .board-toolbar,
[data-theme='light'] .dashboard-sidebar {
  background-color: var(--color-white);
}

[data-theme='dark'] .dashboard-header,
[data-theme='dark'] .board-toolbar,
[data-theme='dark'] .dashboard-sidebar {
  background-color: var(--color-dark-grey);
}

[data-theme='light'][data-open-sidebar='false'] .dashboard-header {
  border-bottom: 1px solid var(--color-lines-light);
}

[data-theme='dark'][data-open-sidebar='false'] .dashboard-header {
  border-bottom: 1px solid var(--color-lines-dark);
}

[data-theme='light'] .dashboard-sidebar {
  border-right: 1px solid var(--color-lines-light);
}

[data-theme='dark'] .dashboard-sidebar {
  border-right: 1px solid var(--color-lines-dark);
}

[data-theme='dark'] .board-toolbar {
  border-bottom: 1px solid var(--color-lines-dark);
  border-left: 1px solid var(--color-lines-dark);
}
