/* Mobile Boards Popover Menu
============================ */

.boards-menu.mobile [role='menu'] {
  position: absolute;
  z-index: 10;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(var(--header-height-sm) + 1rem);
  left: 0;
  right: 0;
  max-width: 265px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-white);
}

[data-theme='dark'] .boards-menu.mobile [role='menu'] {
  background-color: var(--color-dark-grey);
}

.boards-menu.mobile.expanded [role='menu'] {
  padding-block: 1rem;
  height: auto;
  transition: height 2s ease;
}

.boards-menu.mobile [role='menu'] h2 {
  padding-inline-start: 1.5rem;
}

.boards-menu.mobile [role='menu'] ul {
  padding-inline-end: 1.5rem;
  margin-block-start: 1rem;
}

.boards-menu.mobile button svg {
  transition: all 0.3s;
}

.boards-menu.mobile.expanded button svg {
  transform: rotate(180deg);
}

.mobilenav-backdrop {
  position: absolute;
  left: 0px;
  top: var(--header-height-sm);
  right: 0;
  bottom: 0;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  z-index: 5;
}

@media screen and (min-width: 767px) {
  .boards-menu.mobile {
    display: none;
  }
}

/* Theming */

/* Boards Aside Menu 
============================ */

.dashboard__sidebar h2 {
  padding-inline-start: 2rem;
  margin-block: 1rem;
}

.dashboard__sidebar .boards-tabs {
  padding-inline-end: 1.25rem;
  overflow-y: scroll;
}

.boards-tabs {
  --scrollbar-foreground: var(--color-main-purple-hover);
  --scrollbar-background: var(--color-secondary-purple);
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.boards-tabs::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.boards-tabs::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--scrollbar-foreground);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.boards-tabs::-webkit-scrollbar-track:vertical:hover {
  /* Background */
  background: var(--scrollbar-background);
}
