/* Mobile Boards Popover Menu
============================ */

.boards-menu.mobile [role='menu'] {
  position: absolute;
  z-index: 10;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(var(--header-height-mobile) + 1rem);
  left: 0;
  right: 0;
  max-width: 265px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-white);
}

.boards-menu.mobile.expanded [role='menu'] {
  padding-block: 1rem;
  height: auto;
  transition: height 2s ease;
}

.boards-menu.mobile [role='menu'] h2 {
  padding-inline-start: 1.5rem;
}

.boards-menu.mobile [role='menu'] ul {
  padding-inline-end: 1.5rem;
  margin-block-start: 1rem;
}

.boards-menu.mobile span.icon-chevron {
  padding: 0.5rem;
}

.boards-menu.mobile .icon-chevron svg {
  transition: all 0.3s;
}

.boards-menu.mobile.expanded .icon-chevron svg {
  transform: rotate(180deg);
}

/* Theming */

/* Boards Aside Menu 
============================ */

.dashboard-sidebar h2 {
  min-width: 250px;
  padding-inline-start: 2rem;
  margin-block: 1rem;
}

.dashboard-sidebar .boards-tabs {
  padding-inline-end: 1.25rem;
  overflow-y: scroll;
}

.boards-tabs {
  --scrollbar-foreground: var(--color-main-purple-hover);
  --scrollbar-background: var(--color-secondary-purple);
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.boards-tabs::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.boards-tabs::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--scrollbar-foreground);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.boards-tabs::-webkit-scrollbar-track:vertical:hover {
  /* Background */
  background: var(--scrollbar-background);
}


/* Boards Menu List and List Items
============================ */

.boards-tabs li a {
  color: var(--color-medium-grey);
  text-decoration: none;
  display: flex;
  align-items: center;
  min-width: 245px;
  height: 48px;
  padding-inline-start: 2rem;
  border-radius: 0px 100px 100px 0px;
}

.boards-tabs li a.new-board {
  color: var(--color-main-purple);
}

.boards-tabs li a svg {
  margin-inline-end: 1rem;
}

a.new-board svg path {
  fill: var(--color-main-purple);
}

.boards-tabs li a:hover {
  color: var(--color-main-purple);
  background-color: var(--color-secondary-purple);
}

.boards-tabs li a:hover svg path {
  fill: var(--color-main-purple);
}

.boards-tabs li a.active {
  background-color: var(--color-main-purple);
  color: var(--color-white);
}

.boards-tabs li a.active svg path {
  fill: var(--color-white);
}
