

.show-sidebar__btn {
  position: absolute;
  padding-inline: 1rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  bottom: 2rem;

}

.show-sidebar__btn:hover {
  padding-inline-start: 1.5rem;
  transition: padding-inline-start 0.2s ease;
}
