div.toggle-container {
  width: 235px;
  height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 0 auto;
}

div.toggle-container::before {
  content: url('../assets/icon-light-theme.svg');
}

div.toggle-container::after {
  content: url('../assets/icon-dark-theme.svg');
}

label.toggle-box {
  width: 2.5rem;
  height: 1.25rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-inline: 1.2rem;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  inset: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  background-color: var(--color-main-purple);
}

.toggle-slider:hover {
  cursor: pointer;
  background-color: var(--color-main-purple-hover);
}

.toggle-slider:before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  bottom: 3px;
  left: 4px;
  background-color: var(--color-white);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

span.toggle-slider.dark::before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Theming
============================ */

[data-theme='light'] div.toggle-container {
  background-color: var(--color-light-grey);
}

[data-theme='dark'] div.toggle-container {
  background-color: var(--color-very-dark-grey);
}
