@use '../shared/variables' as v;
@use '../shared/mixins' as m;
@use '../shared/typography' as t;

.toggle-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .visually-hidden {
        @include m.visually-hidden;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .toggle-input {
        display: block;
        width: 40px;
        height: 20px;
        min-width: 40px;
        margin: 0;
        border-radius: 34px;
        position: relative;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;

        &.standard {
            background-color: v.$color-main-purple;

            &:hover {
                background-color: v.$color-main-purple-hover;
            }
        }

        &.disabled {
            background-color: v.$color-medium-grey;
        }

        &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            background-color: v.$color-white;
            -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:checked::before {
            -webkit-transform: translateX(19px);
            -ms-transform: translateX(19px);
            transform: translateX(19px);
        }
    }

    .toggle-label {
        @include t.body-m;
        margin-inline-start: 0.5rem;
        color: v.$color-medium-grey;
        font-weight: normal;
    }

    small {
        @include m.input-hint;
        flex-basis: 100%;
    }
}