@use '../shared/variables' as v;
@use '../shared/mixins' as m;

.input-group {
    display: flex;
    flex-direction: column;

    label {
        &.visually-hidden {
            @include m.visually-hidden;
        }
    }

    .input-wrapper {
        position: relative;

        input {
            @include m.input-standard;
            width: 100%;

            &.error {
                border-color: v.$color-red;
            }
        }

        strong {
            @include m.input-error;
            position: absolute;
            top: 0.8rem;
            right: 1rem;
        }

    }

    small {
        @include m.input-hint;
    }
}