@import url('./button.css');
@import url('./dialog.css');
@import url('./forms.css');
@import url('./typography.css');

/*** GLOBAL STYLES ***/

/* Variables
  ============================= */

:root {
  --color-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-lines-light: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --color-white: #ffffff;
  --color-main-purple: #635fc7;
  --color-main-purple-hover: #a8a4ff;
  --color-secondary-purple: rgba(99, 95, 199, 0.1);
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
}

/* Base
============================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
}

li {
  list-style: none;
}
