@use '../shared/variables' as v;
@use '../shared/mixins' as m;
@use '../shared/typography' as t;

.checkbox-wrapper {
    width: 100%;

    .visually-hidden {
        @include m.visually-hidden;
    }

    [type="checkbox"] {
        &:checked~.checkbox-checkmark {
            &--standard {
                background-color: v.$color-main-purple;
                border: 1px solid v.$color-main-purple;
            }

            &--success {
                background-color: v.$color-green;
            }

            &:after {
                position: absolute;
                content: url('../../assets/icon-check.svg');
                bottom: -0.05rem;
                left: 0.15rem;
            }
        }

        &:focus~.checkbox-checkmark {

            // OnFocus visual effect:
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 2px;
                outline: 2px solid v.$color-dark-grey;
            }
        }
    }

    .checkbox-checkmark {
        display: inline-block;
        height: 16px;
        width: 16px;
        min-width: 16px;
        border-radius: 2px;
        position: relative;
        background-color: v.$color-white;
        border: 1px solid rgba(130, 143, 163, 0.25);

        &--error {
            border: 1px solid v.$color-red;
        }

        &--success {
            border: 1px solid v.$color-green;
        }

        [data-theme='dark'] & {
            background-color: v.$color-very-dark-grey;
        }
    }

    .checkbox-label {
        display: flex;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        &--filled {
            border-radius: 4px;
            padding: 0.75rem 0.85rem;
            background-color: v.$color-light-grey;

            [data-theme='dark'] & {
                color: v.$color-white;
                background-color: v.$color-very-dark-grey;
            }

            &:hover {
                background-color: v.$color-secondary-purple;

                [data-theme='dark'] & {
                    background-color: v.$color-secondary-purple;
                }
            }
        }

        &--text {
            @include t.body-m;
            letter-spacing: 0.25px;
            margin-inline-start: 1rem;
        }

        &--checked {
            color: v.$color-medium-grey;
            text-decoration: line-through;

            [data-theme='dark'] & {
                color: v.$color-medium-grey;
            }
        }

        &--disabled {
            pointer-events: none;

            .checkbox-label--text {
                opacity: 0.5;
            }
        }
    }

    small {
        @include m.input-hint;
    }

    strong {
        @include m.input-error;
        display: block;
        margin-block-start: 0.5rem;
    }
}