@use '../../shared/variables' as v;

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }

    &--primary {
        color: v.$color-white;
        background-color: v.$color-main-purple;

        &:hover:not([disabled]) {
            background-color: v.$color-main-purple-hover;
        }
    }

    &--secondary {
        color: v.$color-main-purple;
        background-color: v.$color-secondary-purple;

        &:hover:not([disabled]) {
            background-color: v.$color-secondary-purple;
        }
    }

    &--danger {
        color: v.$color-white;
        background-color: v.$color-red;

        &:hover:not([disabled]) {
            background-color: v.$color-red-hover;
        }
    }

    &--standard {
        color: v.$color-white;
        background-color: v.$color-medium-grey;
    }

    &--small {
        /* 13px */
        font-size: 0.813rem;
        border-radius: 20px;
        padding: 0.75rem 1.15rem;
    }

    &--large {
        /* 15px */
        font-size: 0.938rem;
        border-radius: 24px;
        padding: 1rem 1.5rem;
    }

    span.icon-container {
        display: flex;
        align-items: center;

        &.start {
            margin-inline-end: 0.5rem;
        }

        &.end {
            margin-inline-start: 0.5rem;
        }
    }
}

/* Theming
  ============================ */

[data-theme='dark'] {
    .button {
        &--secondary {
            background-color: v.$color-white;
        }
    }
}

/* Icon Buttons
  ============================ */

.button {
    &.plus-button {
        padding: 0.5rem 1.15rem;
        border-radius: 24px;
    }
}

/* Add Task Button
  ============================ */

@media (min-width: v.$breakpoint-tablet) {
    .button.add-task-btn {
        padding: 0.875rem 1.5rem;
    }

    .add-task-btn svg {
        display: none;
    }

    .add-task-btn span {
        display: block;
    }
}